/*Reset style*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1 !important; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ================================================ */
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url("../fonts/raleway-v12-latin-regular.woff2") format("woff2"); }

/* raleway-500 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local("Raleway Medium"), local("Raleway-Medium"), url("../fonts/raleway-v12-latin-500.woff2") format("woff2"); }

/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local("Raleway Bold"), local("Raleway-Bold"), url("../fonts/raleway-v12-latin-700.woff2") format("woff2"); }

/* raleway-600 - latin */
@font-face {
  font-family: "Raleway - Semi Bold";
  font-style: normal;
  font-weight: 600;
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url("../fonts/raleway-v12-latin-600.woff2") format("woff2"); }

/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/lato-v14-latin-300.woff2") format("woff2"); }

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato-v14-latin-regular.woff2") format("woff2"); }

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/lato-v14-latin-700.woff2") format("woff2"); }

@font-face {
  font-family: 'Lato-Black';
  src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

body {
  color: #000;
  font: 400 16px Lato, Arial, sans-serif;
  background: #fff; }

/* MAIN STYLES */
/* ================================================ */
.main-wrapper {
  padding: 0;
  min-width: 320px;
  position: relative;
  overflow: hidden;
  opacity: 1;
  min-height: 100%; }

.wrapper {
  max-width: 1140px;
  padding: 0 40px 0 40px;
  margin: 0 auto;
  position: relative; }

img {
  display: block;
  max-width: 100%; }

span {
  display: inline-block; }

button {
  cursor: pointer; }
  button:focus {
    outline: none; }
  button:active {
    outline: none; }

input:focus, textarea:focus {
  outline: none; }

input:active, textarea:active {
  outline: none; }

.container {
  max-width: 1170px;
  padding: 0; }

.btn {
  padding: 0;
  margin: 0;
  width: 170px;
  height: 50px;
  border: none;
  background-color: #131313;
  color: #ffffff;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 50px;
  -webkit-border-radius: 0;
          border-radius: 0; }
  .btn:hover {
    background-color: #ff0036; }
  .btn_grey {
    background-color: #393939; }
  .btn_large {
    width: 228px;
    height: 38px;
    background-color: #262626;
    line-height: 38px; }
  .btn_small {
    width: 120px;
    height: 40px;
    font-size: 16px;
    line-height: 40px; }

.separate {
  max-width: 512px;
  height: 19px;
  margin: auto;
  margin: 100px auto;
  background: url("../img/separate.png") center center; }
  .separate_m90 {
    margin: 90px auto; }

.separate-red {
  max-width: 512px;
  height: 19px;
  margin: auto;
  margin: -9px auto 100px;
  background: url("../img/separate-red.png") center center; }

.title {
  color: #262626;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center; }
  .title span {
    color: #ff0036; }

.subtitle {
  color: #505050;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 100px;
  text-align: center; }
  .subtitle span {
    color: #ff0036; }

/* HEADER */
/* ================================================ */
.page-header {
  padding-bottom: 213px;
  background: url("../img/header-bg.png") center center no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.navbar {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
  margin-bottom: 150px; }

.navbar-brand {
  display: block;
  width: 251px;
  height: 113px;
  background: url("../img/logo.png");
  margin: 0;
  padding: 0;
  -webkit-background-size: cover;
          background-size: cover; }

.navbar-expand-lg .navbar-collapse {
  margin-right: -15px; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 28px 0px;
  margin-left: 15px;
  margin-right: 15px;
  color: #a4a4a4;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase; }
  .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #ffffff; }

.navbar-nav .nav-item.active {
  position: relative; }

.navbar-nav .nav-item.active:before,
.navbar-nav .nav-item.active:after {
  content: '';
  display: block;
  width: 27px;
  height: 2px;
  background-color: #ff0036;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.header-carousel__title {
  color: #ffffff;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 45px; }
  .header-carousel__title span {
    color: #ff0036; }

.header-carousel__text {
  max-width: 1021px;
  margin: auto;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 47px; }

.header-carousel__btn {
  margin: 0 15px; }

.owl-dots {
  display: none; }

.owl-carousel .owl-nav .owl-prev span,
.owl-carousel .owl-nav .owl-next span {
  display: none; }

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  width: 17px;
  height: 28px;
  position: absolute;
  top: 50%;
  margin-top: -14px; }

.owl-carousel .owl-nav button.owl-prev {
  background: url("../img/prev-icon.png");
  left: -60px; }
  .owl-carousel .owl-nav button.owl-prev:hover {
    background: url("../img/prev-icon-active.png"); }

.owl-carousel .owl-nav button.owl-next {
  background: url("../img/next-icon.png");
  right: -60px; }
  .owl-carousel .owl-nav button.owl-next:hover {
    background: url("../img/next-icon-active.png"); }

.fa-bars {
  color: #ffffff;
  font-size: 34px; }

@media screen and (max-width: 1330px) {
  .owl-carousel .owl-nav button.owl-next {
    right: 30px; }
  .owl-carousel .owl-nav button.owl-prev {
    left: 30px; } }

@media screen and (max-width: 1190px) {
  .navbar-brand {
    width: 190px;
    height: 85px; }
  .navbar-expand-lg .navbar-nav .nav-link {
    margin-left: 10px;
    margin-right: 10px; }
  .owl-carousel .owl-nav button.owl-next {
    right: 40%;
    bottom: -50px;
    top: auto; }
  .owl-carousel .owl-nav button.owl-prev {
    left: 40%;
    bottom: -50px;
    top: auto; } }

@media screen and (max-width: 991px) {
  .navbar-nav .nav-item.active:before,
  .navbar-nav .nav-item.active:after {
    display: none; }
  .navbar-expand-lg .navbar-collapse {
    margin-right: 0;
    margin-top: 10px; }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 15px 0; } }

@media screen and (max-width: 450px) {
  .navbar-brand {
    width: 160px;
    height: 72px; } }

/* ABOUT */
/* ================================================ */
.section-about {
  padding-top: 100px;
  padding-bottom: 70px; }

.about-descr__text {
  margin-bottom: 40px;
  color: #505050;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px; }

.accordion {
  margin-bottom: 10px; }
  .accordion-header {
    height: 45px;
    border: 1px solid #e7e7e7;
    background-color: #f7f7f7;
    cursor: pointer; }
    .accordion-header__plus {
      width: 60px;
      height: 100%;
      border-right: 1px solid #e7e7e7;
      background: url("../img/plus.png") center center no-repeat;
      -webkit-background-size: 18px 18px;
              background-size: 18px 18px; }
    .accordion-header__minus {
      background: url("../img/minus@2x.png") center center no-repeat;
      -webkit-background-size: 18px 18px;
              background-size: 18px 18px; }
    .accordion-header__text {
      color: #262626;
      font-family: Raleway;
      font-size: 20px;
      font-weight: 500;
      padding-left: 30px; }
      .accordion-header__text.active {
        color: #ff0036; }

.accordion-body {
  border: 1px solid #e7e7e7;
  border-top: none;
  background-color: #f7f7f7;
  padding: 16px;
  display: none; }
  .accordion-body__text {
    color: #505050;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; }
  .accordion-body.first {
    display: block; }

.about-img {
  margin-bottom: 23px; }

.about-block {
  margin-bottom: 30px; }
  .about-block__img {
    margin: auto; }
  .about-block__title {
    color: #262626;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 27px; }
  .about-block__text {
    color: #505050;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px; }

@media screen and (max-width: 991px) {
  .about-img__img {
    margin: auto;
    margin-top: 100px; } }

/* PORFTOLIO */
/* ================================================ */
.section-portfolio {
  padding-top: 100px;
  padding-bottom: 110px;
  background-color: #262626; }

.portfolio__title {
  color: #ffffff;
  margin-bottom: 25px; }

.portfolio__types {
  margin-bottom: 80px; }

.portfolio__type {
  color: #a4a4a4;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  margin: 0 10px;
  cursor: pointer;
  margin-bottom: 20px; }
  .portfolio__type.active {
    color: #ff0036; }
  .portfolio__type:hover {
    color: #ff0036; }

.portfolio-block {
  max-width: 400px; }
  .portfolio-block-small {
    max-width: 300px; }

@media screen and (max-width: 729px) {
  .portfolio-block-small {
    width: 400px;
    max-width: none; }
    .portfolio-block-small img {
      width: 100%; } }

/* PRODUCT */
/* ================================================ */
.section-product {
  padding-bottom: 100px; }

.product-right, .product-left {
  margin-top: 75px;
  z-index: 2; }

.product-left {
  margin-right: -20px; }

.product-right {
  margin-left: -23px; }

.product-property {
  width: 370px;
  height: 53px;
  border: 1px solid #e7e7e7;
  background-color: #ffffff;
  margin-bottom: 23px;
  padding-right: 20px;
  cursor: pointer; }
  .product-property_right {
    padding-left: 20px;
    padding-right: 0; }
    .product-property_right .product-property__icon-block {
      margin-left: 0;
      margin-right: 17px; }
  .product-property__text {
    color: #262626;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase; }
  .product-property__icon-block {
    width: 37px;
    height: 33px;
    margin-left: 17px;
    background: url("../img/product-property__icon-block.png"); }

.product__btn {
  position: absolute;
  bottom: 12%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.product-property.active {
  background-color: #ff0036; }
  .product-property.active .product-property__text {
    color: #ffffff; }
  .product-property.active .product-property__icon-block {
    height: 32px;
    background: url("../img/product-property__icon-block_white.png"); }
    .product-property.active .product-property__icon-block i {
      color: #ff0036; }

@media screen and (max-width: 1216px) {
  .center-img {
    width: 100%; }
    .center-img img {
      margin: auto; }
  .product-left {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 0; }
  .product-right {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 0; }
  .section-product .row {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }

@media screen and (max-width: 390px) {
  .product-right, .product-left {
    width: 100%; }
  .product-property {
    width: 100%;
    padding: 0 10px; }
  .product-property__text {
    font-size: 15px; } }

/* CLIENTS */
/* ================================================ */
.section-clients {
  padding-top: 95px;
  padding-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.9); }

.clients__title {
  color: #ffffff; }

.clients__subtitle {
  color: #a4a4a4; }

.review__title {
  color: #ffffff;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px; }

.review__text {
  color: #a4a4a4;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  margin-bottom: 45px; }

.review__img {
  width: 66px !important;
  height: 57px;
  margin: auto;
  margin-bottom: 17px; }

.review__author {
  color: #ff0036;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px; }

.client {
  width: 270px;
  height: 116px;
  margin-bottom: 40px;
  -webkit-box-shadow: inset 0 0 68px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0 0 68px rgba(0, 0, 0, 0.75);
  background: url("../img/client-bg.png"); }

.owl-carousel .owl-item img {
  width: auto; }

.review-carousel .owl-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.review-carousel button.owl-dot {
  width: 8px;
  height: 8px;
  background-color: #e0e0e0;
  margin: 2.5px; }
  .review-carousel button.owl-dot.active {
    background-color: #ff0036; }

@media screen and (max-width: 1199px) {
  .review {
    margin-bottom: 40px; } }

@media screen and (max-width: 596px) {
  .client {
    margin: auto;
    margin-bottom: 40px; }
  .client:nth-child(3), .client:nth-child(4) {
    margin: auto !important;
    margin-bottom: 40px !important; }
  .section-clients {
    margin-bottom: 60px; } }

/* TEAMWORK */
/* ================================================ */
.section-teamwork {
  padding-bottom: 80px; }

.player {
  width: 270px;
  position: relative;
  margin-bottom: 20px; }
  .player__img {
    width: 270px;
    height: 240px; }
  .player-info {
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
    padding: 33px 10px;
    text-align: center; }
    .player-info__name {
      color: #262626;
      font-family: Raleway;
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 15px; }
    .player-info__position {
      color: #505050;
      font-family: Lato;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px; }
  .player:hover .player-hover {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 0.7s; }
  .player:hover .player-info__name {
    color: #ff0036; }

.player-hover {
  display: none;
  width: 270px;
  height: 240px;
  position: absolute;
  top: 0;
  left: 0px;
  background-color: #262626; }
  .player-hover__block {
    width: 45px;
    height: 41px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: url("../img/product-property__icon-block_white.png") center center no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    margin: 0 5px;
    color: #ff0036;
    font-size: 17px; }
    .player-hover__block:hover {
      text-decoration: none;
      color: #ff0036; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.skill {
  text-align: center;
  margin-bottom: 20px; }
  .skill__persent {
    width: 145px;
    height: 145px;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: url("../img/skill-border.png");
    color: #000000;
    font-family: Lato;
    font-size: 40px;
    font-weight: 300;
    line-height: 94.88px; }
    .skill__persent span {
      color: #ff0036; }
  .skill__name {
    color: #262626;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 23px; }
  .skill__text {
    max-width: 151px;
    margin: auto;
    color: #505050;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px; }

/* SERVICES */
/* ================================================ */
.section-services {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #272727; }

.services__title {
  color: #ffffff; }

.services__subtitle {
  color: #a4a4a4; }

.service:hover .service-top__icon {
  background: url("../img/service-icon-wrapper-red.png"); }

.service:hover .service-top__icon i {
  color: #ffffff; }

.service:hover .service-body {
  background-color: rgba(255, 0, 54, 0.1); }

.service:hover .service-body__text {
  color: #ffffff; }

.service-top {
  margin-bottom: 30px; }
  .service-top__icon {
    width: 66px;
    height: 57px;
    margin-right: 33px;
    background: url("../img/service-icon-wrapper.png");
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .service-top__icon i {
      font-size: 26px;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  .service-top__text {
    color: #ffffff;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase; }

.service-body {
  padding: 30px 35px;
  background-color: rgba(164, 164, 164, 0.1);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .service-body__text {
    color: #a4a4a4;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.services-row {
  margin-bottom: 55px; }

@media screen and (max-width: 768px) {
  .service {
    margin-bottom: 40px; }
  .services-row {
    margin: 0; }
  .service.col-12 {
    padding: 0; } }

/* BESTSELLER */
/* ================================================ */
.section-bestseller {
  padding-bottom: 50px; }

.bestseller-list {
  margin-bottom: 50px; }
  .bestseller-list:hover .bestseller-list__item:nth-child(2) {
    background-color: #ff0036;
    border-color: #ff0036;
    color: #ffffff; }
    .bestseller-list:hover .bestseller-list__item:nth-child(2) span {
      color: #ffffff; }
  .bestseller-list:hover .btn_large {
    background-color: #ff0036; }
  .bestseller-list__item {
    min-height: 50px;
    text-align: center;
    color: #262626;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    border: 1px solid #e7e7e7;
    border-top: none; }
    .bestseller-list__item:first-child {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 16px 10px;
      color: #ffffff;
      font-family: Raleway;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.65px;
      text-transform: uppercase;
      background-color: #262626;
      border: none; }
    .bestseller-list__item:last-child {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 20px 0; }
      .bestseller-list__item:last-child .btn {
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
    .bestseller-list__item:nth-child(2) {
      padding: 20px 0;
      color: #262626;
      font-family: Lato;
      font-size: 16px;
      font-weight: 400;
      max-height: 87px;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .bestseller-list__item:nth-child(2) span {
        color: #262626;
        font-family: 'Lato-Black';
        font-size: 50px;
        font-weight: 900;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }

/* TWITTER SLIDER */
/* ================================================ */
.section-twit-slider {
  background-color: #272727;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../img/twitter-bg.png");
  background-repeat: no-repeat;
  background-position: 10% bottom; }

.twit-slider__icon {
  font-size: 35px;
  text-align: center;
  color: #ff0036;
  margin-bottom: 25px; }

.twit-slider__text {
  max-width: 642px;
  margin: auto;
  text-align: center;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px; }

/* BLOG */
/* ================================================ */
.section-blog {
  padding-bottom: 80px; }

.blog-row {
  margin-bottom: 50px; }

.blog-descr__title {
  color: #2e2e2e;
  font-family: "Raleway - Semi Bold";
  font-size: 20px;
  font-weight: 600;
  line-height: 21px; }

.blog-descr__text {
  color: #505050;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 25px;
  margin-top: 10px; }

.blog-info {
  margin-top: 10px; }
  .blog-info__text {
    color: #a2a2a2;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 34px;
    margin-right: 20px; }
    .blog-info__text i {
      margin-right: 8px; }

.arrow-down {
  width: 43px;
  height: 43px;
  margin: auto;
  background-color: #f2f2f2;
  cursor: pointer;
  background: url("../img/arrow-down.png") center center no-repeat; }

/* FOLLOW */
/* ================================================ */
.section-follow {
  padding-top: 100px;
  padding-bottom: 90px;
  background-color: rgba(0, 0, 0, 0.9); }

.follow__title {
  color: #ffffff;
  margin-bottom: 50px; }

.follow-item {
  margin: 0 25px; }
  .follow-item:hover .follow-item__block {
    color: #ffffff;
    text-decoration: none; }
  .follow-item__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 76px;
    height: 68px;
    background: url("../img/follow-block-border.png");
    margin-bottom: 37px;
    color: #ff0036;
    font-size: 20px; }
  .follow-item__text {
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center; }

@media screen and (max-width: 550px) {
  .follow-item {
    margin-bottom: 50px; }
  .section-follow {
    padding-bottom: 40px; } }

/* CONTACT */
/* ================================================ */
.map {
  padding-top: 100px;
  padding-left: 0;
  padding-right: 0;
  background: url("../img/map.png") center center no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .map .container {
    padding: 0 135px; }

.contact-address {
  width: 300px;
  height: 226px;
  background: url("../img/address-bg.png") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  padding-top: 30px;
  padding-left: 24px;
  margin-top: 150px; }
  .contact-address__text {
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px; }
    .contact-address__text a {
      color: #ffffff; }
      .contact-address__text a:hover {
        color: #ff0036;
        text-decoration: none; }

.contact-from {
  max-width: 470px;
  padding: 50px 44px;
  -webkit-box-shadow: 0 0 9px rgba(5, 5, 6, 0.17);
          box-shadow: 0 0 9px rgba(5, 5, 6, 0.17);
  background-color: #ffffff;
  text-align: right; }
  .contact-from__text {
    margin-bottom: 50px;
    color: #262626;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left; }
  .contact-from__input {
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    padding: 0 16px;
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
    color: #505050;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px; }
  .contact-from__textarea {
    height: 88px;
    resize: none;
    margin-bottom: 27px; }

@media screen and (max-width: 1150px) {
  .map .container {
    padding: 0px; } }

@media screen and (max-width: 846px) {
  .map .container {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }
  .contact-address {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 50px;
    margin-bottom: 100px; } }

@media screen and (max-width: 410px) {
  .contact-from {
    padding: 50px 20px; } }

/* FOOTER */
/* ================================================ */
.page-footer {
  background-color: #262626; }

.footer {
  height: 79px; }
